.actions {
  display: flex;
  justify-content: space-between;

  .left {
    .add {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  .right {
    margin-top: 19px;
  }
}

mat-grid-tile {
  background-size: cover;
  border-radius: 5%;
  border: black 1px solid;
  cursor: pointer;
}
