.roomType {
  margin-right: 10px;
}

.roomCount {
  margin-right: 10px;
}

.addRoomType {
  height: 52px;
  position: relative;
  bottom: 7px;
}

.mat-tab-header {
  margin-bottom: 10px;
}

.addReservation {
  margin-top: 10px;
  margin-bottom: 5px;
}

table {
  width: 100%;
}
