.card {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  left: 5px;
  top: 10px;
  font-size: 28px;
  color: #ffff;
  text-shadow: 2px 2px rgb(0, 0, 0);

  .noImage {
    color: rgb(0, 0, 0);
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .delete {
    float: right;
    cursor: pointer;
  }
}
